<div id="abt-safety" class="abt-safety">
    <div class="abt-sec">
        <button id="close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg></button>
        <h1 class="title">About</h1>
        <p class="txt">Chattr is a fun app developed to allow

            different students all over ACS Egham
            
            to chat to each other, regardless of
            
            race, gender, social class or other
            
            factors. It is the perfect way to meet
            
            new people and friends and form
            
            lifelong connections, from the comfort
            
            of your couch. Chattr only has two
            
            rules; be responsible and be safe. You
            
            can check out the full description in
            
            the "Safety" tab. So, what are you
            
            waiting for? Start chatting and have
            
            fun!
            
            </p>
    </div>
    <div id="safe-sec">
        <h1 class="title">Safety</h1>
        <p class="txt">Chattr is a fun website to use to help you meet new people

            online It is designed for minors from ACS Egham of the ages 13-
            
            17, so there are absolutely NO adults (18+) allowed. That being
            
            said, this type of chat can be quite unsafe when misused. We
            
            only have two rules on this site, so please follow them to keep
            
            safe:
            
            1. Be reponsible. That means, DO NOT use the messaging system
            
            to transfer personal details (such as telephone number,
            
            address, etc). Likewise, DO NOT show any explicit content
            
            (nudity, violence, etc) on camera, and DO NOT abuse the
            
            chat system with malicious intent.
            
            2. Be safe. That means, if you feel something wrong, leave the
            
            call IMMEDIATELY and speak to an adult. Report the call to
            
            an ACS Egham teacher, and take further action thereafter by
            
            following their instructions.
            
            As this software is designed for ACS Egham students, we verify
            
            all emails and you cannot use Chattr if you do not submit a
            
            valid ACS Egham email. Any email submitted to the software that
            
            does not match the identity of the submitter will result in an
            
            immediate permanent ban from the software and further action
            
            taken with the help of ACS Egham.
            </p>
    </div>
</div>