<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App | <%= title %></title>
    <link rel="icon" type="image/x-icon" href="imgs/chatapp-favicon-color.png">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/room.css">
    <link rel="stylesheet" href="css/nav.css">
    <script defer src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script> const ROOM_ID = '<%= roomId %>'; </script>
    <script defer src="js/script.js"></script>
    <script defer src="js/socket-peer-logic.js"></script>
</head>