<nav id="navbar">
    <ul id="nav-list">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/room" class="nav-link">New</a></li>
      <li id="logo" class="nav-item"><a href="/" class="nav-link"><img src="imgs\Screenshot_2024-03-15_003837-removebg-preview.png"></a></li>
      <li class="nav-item"><a href="/manual-create" class="nav-link">Private</a></li>
      <li class="nav-item"><a href="#" class="nav-link"><button id="info-btn" class="nav-link" style="outline: none; background-color: transparent; border: none; padding: 0; width: auto; height: auto; font-size: 2rem; text-decoration: none;">
        Info
    </button></a></li>
    </ul>
</nav>