<div id="verification">
    <div class="abt-sec">
        <h1 class="title">Verify</h1>
        <p class="txt">Before you can start using this service, we need to make sure that you are a student at ACS Egham. Please enter your email below:</p>
        <form id="verify">
            <input type="email" name="email" placeholder="Enter your school email:">
            <button id="submit-verify" type="submit">Verify</button>
        </form>
    </div>
</div>