<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App | Home</title>
  <link rel="icon" type="image/x-icon" href="imgs/chatapp-favicon-color.png">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/room.css">
  <link rel="stylesheet" href="css/nav.css">
  <script defer src="js/script.js"></script>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <main>
    <div class="hidden" id="title-container">
      <h1 id="title">Welcome to Chatapp!</h1>
      <h3 id="desc" class="normal-text">Chatapp offers a private one-to-one video conferencing app, but also allows users to chat with random strangers. If you have someone to meet, use the "Private" tab on the navbar and make your date. If not, use the "New" tab to start chatting!</h3>
    </div>
    <div class="hidden" id="strangers-container">
      <h2 id="strangers-chat-header" class="headers">Chat to strangers!</h2> 
      <h3 class="normal-text">Chat to a stranger! <a href="/room" style="color: var(--darkest-green);">Join a random room now!</a> <br> There are <span id="users-online">100</span> users online!</h3>
    </div>
    <div class="hidden" id="manual-container">
      <h2 id="manual-join-hedear" style="padding-top: 4rem;  box-sizing: border-box;" class="headers">Join a meeting! </h2>
      <h3 class="normal-text">Alternatively, if you have a pre-existing code, join the meeting by entering the code below:</h3>
      <form id="manual-join-meeting" action="/manual-join" method="POST">
        <input maxlength="6" autocomplete="off" placeholder="Enter your code" id="meeting-code" name="code">
        <button id="submit-code" type="submit">Join!</button>
      </form>
      <h3 style="margin-top: 2.5rem;" class="normal-text">Or make your own private room!</h3>
      <form style="margin-top: 2rem;" id="manual-join-meeting" action="/manual-create" method="GET">
        <button style="width: 7rem;" id="submit-code" type="submit">Create Room!</button>
      </form>
    </div>
  </main>
  <footer id="footer">
    <p>hello</p>
  </footer>
</body>
</html>