@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto+Mono&display=swap');

:root {
    --blue: #acd2ed;
    --yellow: #e1e289;
    --app-green: #99aa38;
    --dark-green: #14591d;
    --darkest-green: #0a210f;
    --font-txt: 'Roboto Mono', monospace;
    --font-ttl: 'Archivo', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-txt);
}

body {
    background-color: var(--dark-green);
}


.max-width {
    width: 100vw;
}
main {
    height: 80vh;
    margin-top: 8rem;
}

#title {
    text-align: center;
    vertical-align: middle;
    font-size: 4rem;
    color: var(--darkest-green);
    font-family: var(--font-txt);
    margin: auto 0;
}

#desc {
    margin-top: 2rem;
}
.normal-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}