@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto+Mono&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100px); 
    }
    to {
        opacity: 1;
        transform: translateX(0); 
    }
}
@keyframes squeezeIn {
    from {
        transform: scale(0);
        visibility: hidden;
    }
    to {
        transform: scale(1);
        visibility: visible;
    }
}
@keyframes squeezeOut {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        transform: scale(0);
        visibility: hidden;
    }
}
:root {
    --blue: #acd2ed;
    --yellow: #e1e289;
    --app-green: #99aa38;
    --dark-green: #14591d;
    --darkest-green: #0a210f;
    --font-txt: 'Roboto Mono', monospace;
    --font-ttl: 'Archivo', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-txt);
}

body {
    background-color: var(--dark-green);
}

.max-width {
    width: 100vw;
    height: 80vh;
}
body {
    overflow-x: hidden;
}
main {
    height: 80%;
    margin-top: 8rem;
}

#title {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-size: 4rem;
    color: var(--darkest-green);
    font-family: var(--font-txt);
    padding-top: 16rem;
    box-sizing: border-box;
    opacity: 0;
}

#desc {
    margin-top: 2rem;
    opacity: 0;
}
.normal-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    vertical-align: middle;
}
.headers {
    text-align: center;
    margin-bottom: 1rem;
}
#manual-join-meeting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
#meeting-code {
    background-color: var(--app-green);
    border: solid 2px var(--darkest-green);
    width: 15rem;
    height: 2rem;
    border-radius: 7px;
    padding: 0 4px;
    box-sizing: border-box;
    margin-right: 1rem;
    color: var(--darkest-green);
}
#meeting-code:hover, #submit-code:hover {
    border: solid 3px var(--darkest-green);
}
#meeting-code::placeholder {
    color: var(--darkest-green);
}
#submit-code {
    background-color: var(--app-green);
    border: solid 2px var(--darkest-green);
    border-radius: 7px;
    width: 4rem;
    height: 2rem;
}
#footer {
    height: 40vh;
    background-color: #093a10;
    border-top: solid 4px var(--darkest-green);
}

.hidden {
    opacity: 0;
}
.show {
    opacity: 1;
    animation: fadeIn ease 1s forwards;
}

#title-container, #strangers-container, #manual-container {
    height: 100vh;
}
.abt-safety {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40rem;
    height: 55rem;
    z-index: 10;
    border: solid 4px var(--darkest-green);
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    background: var(--dark-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    transform: scale(0);
    visibility: hidden;
}
.abt-sec, #safe-sec {
    background-color: var(--app-green);
    border: solid 3px var(--darkest-green);
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
}
#close {
    outline: none;
    background-color: transparent;
    border: none;
}
#close svg{
    cursor: pointer;
    fill: var(--darkest-green);
    position: absolute;
    right: 7%;
    top: 6%;
    height: 2rem;
}
#verification {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 30rem;
    height: 20rem;
    z-index: 10;
    border: solid 4px var(--darkest-green);
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    background: var(--dark-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    visibility: hidden;
    transform: scale(0);
}
#verification .title, #verification .txt {
    margin-bottom: 2rem;
}
#verification input {
    background-color: var(--app-green);
    border: solid 2px var(--darkest-green);
    width: 15rem;
    height: 2rem;
    border-radius: 7px;
    padding: 0 4px;
    box-sizing: border-box;
    margin-right: 1rem;
    color: var(--darkest-green);
}
#verification input, #submit-verify:hover {
    border: solid 3px var(--darkest-green);
}
#verification input::placeholder {
    color: var(--darkest-green);
}
#submit-verify {
    background-color: var(--app-green);
    border: solid 2px var(--darkest-green);
    border-radius: 7px;
    width: 4rem;
    height: 2rem;
}
#verification #close {
    position: absolute;
    top: 15%;
    right: 10%;
}